.content
  code
    background-color: #f4f5f6;
    color: #1d7bd1;

blockquote
  font-size: 1rem;


div[class*="language-"] { // 代码块背景
  position: relative;
  background-color: #26333a;
  border-radius: 6px;
  font-size: 17px;
}

.token.keyword {
  color: #57a8d3;
}

.token.boolean {
  color: #C48CFF;
}

.token.number {
  color: #C48CFF;
}

.token.function {
  color: #57a8d3;
}

.token.class-name {
  color: #9bc7dd
}
.token.constant{
  color :#9bc7dd;
}
.token.parameter {
  color: #9bc7dd;
  font-style: italic
}

.token.string {
  color: #44a96c
}

.token.operator {
  color: #fff;
}

.token.comment {
  color: #6c7a81;
}

.token.tag {
  color: #49aee2;

  .token.class-name {
    color: #49aee2;
  }

  .token.attr-name {
    color: #9bc7dd
  }

  .token.attr-value {
    color: #44a96c
  }

  .token.keyword {
    color: #57a8d3;
  }
  .token.script {
    color: #fff
  }
}

.token.plain-text {
  color: #9bc7dd
}
.token.atrule {
  color: #57a8d3;
}
