.content
  code
    background-color: #fff5f5;
    color:#fc3a52;
blockquote
  font-size :1rem;



div[class*="language-"] { // 代码块背景
    position: relative;
    background-color: #282923;
    border-radius: 6px;
  font-size :17px;
}

.token.keyword{
    color: #fc3a52;
}
.token.boolean{
    color :#C48CFF;
}
.token.function{
    color:#52E3F6
}
.token.class-name{
  color:#A7EC21
}
.token.parameter {
  color: #fd9621;
  font-style:italic
}
.token.string{
    color:#ECE47E
}
.token.operator{
  color:#fc3a52;
}
  .token.comment{
    color:#74705d;
  }
.token.tag{
  color:#fc3a52;
  .token.class-name{
    color:#fc3a52;
  }
  .token.attr-name{
    color:#A7EC21
  }
  .token.attr-value{
    color:#ECE47E
  }
  .token.keyword{
    color: #fd9621;
  }
  .token.script{
    color :#fff
  }
}
